.dendron-tree-container {
    user-select: none;

    .dendron-tree-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .tree-item-content {
        display: flex;
        align-items: center;
        flex: 1;
    }

    .tree-item-inner {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 0;
        padding: 1px 6px;
        border-radius: 3px;
    }

    .tree-item-inner.is-clickable:hover {
        background-color: var(--nav-item-background-hover);
        color: var(--nav-item-color-hover);
        cursor: pointer;
    }

    .tree-item-folder-icon svg {
        width: 14px;
        height: 14px;
        transform: translate(-2px, 3px);
    }

    .tree-item.is-collapsed>.tree-item-children {
        display: none;
    }

    .tree-item.is-collapsed>.tree-item-self .right-triangle {
        transform: rotate(-90deg);
    }

    .right-triangle {
        transition: transform 100ms ease-in-out;
    }

    .collapse-icon svg {
        color: var(--nav-collapse-icon-color);
    }

    .collapse-icon:hover svg {
        color: var(--nav-item-color-hover);
    }

    .is-clickable {
        cursor: pointer;
    }

    .tree-item-create-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        margin-left: 4px;
        opacity: 0.5;
        transition: opacity 150ms ease;
    }

    .tree-item-create-button:hover {
        opacity: 1;
        background-color: var(--nav-item-background-hover);
    }
}
